@using E_Commerce_MVC.Constants;
@using Newtonsoft.Json;

@{
    string userId = "0";
    var isAnyProductBasketItem = Context.Session.GetString(Key.Basket_Items);
    List<ProductBasketModel> deserialize = null;
    var count = 0;
    if (!string.IsNullOrEmpty(isAnyProductBasketItem))
    {
        deserialize = JsonConvert.DeserializeObject<List<ProductBasketModel>>(isAnyProductBasketItem);
        count = deserialize.Count;
    }
   
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Commerce_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Commerce_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="ProductClient" asp-action="Index">E_Commerce_MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductClient" asp-action="Index">Home</a>
                        </li>
                       
                    </ul>
                    <div class="col">
                  
                            <a  class="btn" asp-action="Index" asp-controller="Basket">
                                <i class="fa-solid fa-cart-shopping fa-2xl"></i> (@count)

                            </a>
                      
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                    Profile
                </button>
                <ul class="dropdown-menu mr-2">
                    <li><a type="submit" asp-action="MyOrderList" asp-controller="Order" asp-route-userId="userId" class="dropdown-item">Example</a></li>
                    <li><a type="submit" class="dropdown-item">Example#</a></li>
                    <div class="mr-4">
                        <partial name="_AdminPartial" />

                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
            @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
